<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>

  <button pButton
          class="p-button-help"
          (click)="mostrarNombre()"
          label='Cambiar nombre'
          icon="pi pi-check" iconPos="right">
  </button>
</div>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda nihil atque aspernatur corporis in, esse praesentium, laudantium fuga suscipit commodi harum tempore sed. Quos praesentium molestiae tenetur ex exercitationem!
</p-card> -->


<app-app-menu></app-app-menu>

<router-outlet></router-outlet>



